<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Cliente</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'lista_productos' %}">Volver a la lista de productos</a>
    <br>
    <a href="{% url 'home' %}">Volver Al Inicio</a>
</body>
</html>